/* Common styles for the SVG elements */
.outer-wall {
    fill: none;
    stroke: black;
    stroke-width: 4;
}

.corridor {
    fill: #ddd;
    stroke: black;
    stroke-width: 2;
}

.wc {
    fill: floralwhite;
    stroke: black;
    stroke-width: 2;
}

.study-rooms {
    fill: #cceeff;
    stroke: black;
    stroke-width: 2;
}

.study-rooms-colored{
    fill: #72c9ff;
    stroke: black;
    stroke-width: 2;
}

.lecture-halls {
    fill: #e0ffe0;
    stroke: black;
    stroke-width: 2;
}

.lecture-halls-colored{
    fill: #80ff80;
    stroke: black;
    stroke-width: 2;
}

/* Text label style */
.rooms-text {
    text-anchor: middle;
    fill: black;
    font-size: 16px;
    dominant-baseline: middle;
}

text {
    text-anchor: middle;
    fill: forestgreen;
    font-size: 32px;
    dominant-baseline: middle;
}




/* header style */
.header {
    background-color: #cccccc; /* Banner-Farbe */
    color: black; /* Textfarbe */
    text-align: center; /* Text zentrieren */
    padding: 2px 0; /* Oben und unten etwas Abstand */
    font-family: Arial, sans-serif; /* Schriftart */
    font-size: 15px; /* Textgröße */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schattierung für ein weiches Aussehen */
    position: fixed; /* Fixiert den Banner oben */
    top: 0; /* Setzt den Banner ganz nach oben */
    left: 0; /* Setzt den Banner ganz nach links */
    width: 100%; /* Macht den Banner so breit wie der Bildschirm */
    height: 10%;
    z-index: 1000; /* Stellt sicher, dass der Banner über anderen Elementen liegt */
    border-bottom-left-radius: 15px; /* Abrunden der unteren linken Ecke */
    border-bottom-right-radius: 15px; /* Abrunden der unteren rechten Ecke */
    display: flex; /* Aktiviert Flexbox */
    align-items: center; /* Vertikal zentrieren */
    justify-content: space-between; /* Text zentrieren und Bild nach links */

}

/* effect for hover */
.header:hover {
    background-color: mediumturquoise; /* Etwas dunkler bei Hover */
    transition: background-color 0.3s ease; /* Sanfter Übergang */
}

.header-image {
    max-width: 100%; /* Verhindert, dass das Bild größer als der Header wird */
    max-height: 100%;
    height: auto; /* Hält das Seitenverhältnis des Bildes bei */
    align-content: start;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 20px;
}

.header-text {
    flex-grow: 1; /* Hiermit wird der Text mittig ausgerichtet */
    text-align: center; /* Text im Container zentrieren */
}

.dropdown {
    margin-right: 20px; /* Push the dropdown to the far right */
}



.main-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

#data-container {
    margin-bottom: 20px; /* space between the info an tokens */
}


/* all columns same distance (looks nicer) */
.first-column {
    margin-left: -50px;
}

.rooms-column {
    margin-left: 50px;
    margin-right: 50px;
}

.rooms-buttons {
    display: flex;   /* Aktiviert das Flexbox-Layout */
    gap: 40px;       /* Abstand zwischen den Buttons */
    justify-content: center; /* Zentriert die Buttons horizontal */
    align-items: flex-end; /* Richtet die Buttons vertikal aus */
}


.chart-image {
    width: 500px;
}

/* Reduziert die Größe des SVG (Raumübersicht) */
.rooms-column svg {
    width: 400px;  /* Breite anpassen */
    height: 400px; /* Höhe anpassen */
}
