/* header style */
.header {
    background-color: #cccccc; /* Banner-Farbe */
    color: black; /* Textfarbe */
    text-align: center; /* Text zentrieren */
    padding: 2px 0; /* Oben und unten etwas Abstand */
    font-family: Arial, sans-serif; /* Schriftart */
    font-size: 15px; /* Textgröße */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schattierung für ein weiches Aussehen */
    position: fixed; /* Fixiert den Banner oben */
    top: 0; /* Setzt den Banner ganz nach oben */
    left: 0; /* Setzt den Banner ganz nach links */
    width: 100%; /* Macht den Banner so breit wie der Bildschirm */
    height: 10%;
    z-index: 1000; /* Stellt sicher, dass der Banner über anderen Elementen liegt */
    border-bottom-left-radius: 15px; /* Abrunden der unteren linken Ecke */
    border-bottom-right-radius: 15px; /* Abrunden der unteren rechten Ecke */
    display: flex; /* Aktiviert Flexbox */
    align-items: center; /* Vertikal zentrieren */
    justify-content: space-between; /* Text zentrieren und Bild nach links */

}

/* effect for hover */
.header:hover {
    background-color: mediumturquoise; /* Etwas dunkler bei Hover */
    transition: background-color 0.3s ease; /* Sanfter Übergang */
}

.header-image {
    max-width: 100%; /* Verhindert, dass das Bild größer als der Header wird */
    max-height: 100%;
    height: auto; /* Hält das Seitenverhältnis des Bildes bei */
    align-content: start;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 20px;
}

.header-text {
    flex-grow: 1; /* Hiermit wird der Text mittig ausgerichtet */
    text-align: center; /* Text im Container zentrieren */
}

.dropdown {
    margin-right: 20px; /* Push the dropdown to the far right */
}


.main-container {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 100px;
}
#announcements_container {
    padding-bottom: 20px;
}

.announcements h2 {
    border-bottom: 2px #007bff; /* Blaue Linie */
    box-shadow: 0 4px 2px -2px #9370db; /* whatever you set the blur to (3rd value), set the spread (4th value) to the negative of it */
    padding-bottom: 6px; /* Platz zwischen Inhalt und Linie */
}

.comments {
    margin-top: 20px;
}

.comments h4 {
    border-bottom: 2px #2dcdbb; /* Blaue Linie */
    box-shadow: 0 4px 2px -2px #1eb5d1; /* whatever you set the blur to (3rd value), set the spread (4th value) to the negative of it */
    padding-bottom: 6px; /* space between label text and line */
}


.info-container {
    background-color: #ffffff; /* White background for the box */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 30px; /* Padding inside the box */
    width: 100%;
    text-align: center; /* center the text inside the container */
    margin-bottom: 30px; /* so the button has some space underneath */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Zentriert den Inhalt */
}

#data-container {
    border: 1px solid #ccc;
    width: 80%; /* Jetzt breiter */
    margin-top: 10px;
}

.info-container h2 {
    border-bottom: 2px #2dcdbb; /* Blaue Linie */
    box-shadow: 0 4px 2px -2px #1eb5d1; /* whatever you set the blur to (3rd value), set the spread (4th value) to the negative of it */
    padding-bottom: 6px; /* Platz zwischen Inhalt und Linie */
}

