body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;

}

form div {
    margin-bottom: 15px;
}

h1 {
    color: #333;
}

#tutor-attributes-list .attribute-item {
    margin-left: 20px; /* Adjust this value to control the shift */
}


